
<% if @errors %>
<!-------------------->
<!-- Error Messages -->
<!-------------------->
<div class="row align-center">
  <div class="column medium-6">
  <style>
    .field_with_errors label {
      font-weight: bold;
      color: red;
      font-size: 1.03rem;
    }
    .field_with_errors input {
      border: red solid 1px;
    }
    .field_with_errors label::before {
      content: '* ';
    }
  </style>
    <div class="callout alert">
      <h5>There were errors in the form</h5>
      <ul>
      <% @errors.each do |error| %>
        <li>
          <%= error %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

<% if @current_user %>
<!-------------------->
<!-- Login Messages -->
<!-------------------->
<div class="row align-center">
  <div class="callout success">
    <div class="column medium-6">
      <h5>Successfull Login</h5>
      <p>Logged in as user: <%= @current_user.full_name %></p>
    </div>
  </div>
</div>
<% end %>

<!-------------------->
<!-- FLASH Messages -->
<!-------------------->
<div class="row align-center">
  <div class="column medium-6">
    <% if logged_in? %>
    <div class="callout success">
          <h5>Successfull Login</h5>
          <% if flash[:message] %>
            <h4><%= flash[:message] %></h4>
          <% end %>
          <p>Currently logged in as: <%= current_user.full_name %></p>
    </div>
    <% else %>
    <div class="callout alert">
      <% if flash[:message] %>
        <h4><%= flash[:message] %></h4>
      <% end %>
      <p>Please <%= link_to "Login to your profile", login_path %> to make a rent your selected attire!</p>
    </div>
    <% end %>
  </div>
</div>


<div class="row align-center">
  <div class="column medium-6">
  <h1>Login</h1>

  <%= form_tag '/sessions' do %>
    <p>
      <%= text_field_tag 'email', nil, placeholder: 'email' %><br>
      <%= password_field_tag 'password', nil, placeholder: 'Password' %><br>
    </p>
    <p class='text-center'>
      <%= submit_tag "Let's get W/\\ISTD!", class: "success large button" %>
    </p>
  <% end %>

  </div>
</div>