<h1>Outfit: </h1>

<h2>Name: <%= @outfit.name %></h2>
<h3>Description: <%= @outfit.description %></h4>
<h4>Style: <%= @outfit.preferred_style %></h4>
<h4>Gender: <%= @outfit.outfit_gender %></h4>
<h4>Picture: <%= image_tag @outfit.picture_url %></h4>
<h4>Rating: <%= @outfit.rating %></h4>
