
<h2>User Profile Page for: <%= @user.full_name %></h2>
<h4>Email: <%=  @user.email %></h4><br>
<h4>Birthday: <%=  @user.birth_date %></h4><br>
<h4>Preferred style: <%=  @user.preferred_style %></h4><br>
<h4>Height: <%=  @user.height %></h4><br>
<h4>Top size: <%=  @user.top_size %></h4><br>
<h4>Bottom size: <%=  @user.bottom_size %></h4><br>
<h4>Shoe size: <%=  @user.shoe_size %></h4><br>



<% if logged_in? %>
    <p>Currently logged in as: <%= current_user %></p>
  <% else %>
    <p>Please <%= link_to "Log In", login_path%> to make a rent your selected attire!</p>
<% end %>

<% if flash[:message] %>
  <h4><%= flash[:message] %></h4>
<% end %>

<% if @user_id == current_user.id %>
  <% button_to "Edit My Profile", edit_user_path(current_user)%>
<% end %><br>


<<<<<<< HEAD
<%= button_to "Log Out" , "/logout", method: "delete" %>
=======
<%= button_to "Log Out" , "/logout", method: "delete"%>
>>>>>>> e3928c4a8b9d64fe4bdeaaafa6d4f1ac2d49d573
