<h1>Product: <h1>
<h2>Name: <%= @product.name %></h2>
<h4>Description: <%= @product.description %></h4>
<h4>Size: <%= @product.size %></h4>
<h4>Color: <%= @product.color %></h4>
<h4>Preferred Style: <%= @product.preferred_style %></h4>
<h4>Product Type: <%= @product.product_type %></h4>
<h4>Price: <%= @product.price_cents %></h4>
<h4>Outfit Gender: <%= @product.outfit_gender %></h4>
<h4>Brand: <%= @product.brand %></h4>
<h4>Season: <%= @product.season %></h4>
<h4><%= image_tag @product.picture_url %></h4>
<h4>Rating: <%= @product.rating %></h4>
