
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!-- => NAVIGATION: BREADCRUMBS -->
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>

<div class="row columns">

<nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="<%= outfits_path %>">Outfits</a></li>
        <li><a href="<%= products_path %>">Products</a></li>
        <li>
            <span class="show-for-sr">Current: </span> <%= @product.name %> by <%= @product.brand %>
        </li>
    </ul>
</nav>
</div>

<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!-- => PRODUCTS: INFO -->
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>

<div class="row columns">
    <h1><%= @product.name.titleize %></h1>
    <h3><%= @product.brand %></h3>
</div>

<div class="work-feature-block row">
    <div class="columns medium-7">
        <img class="work-feature-block-image" src=<%= @product.picture_url %> />
    </div>
    <div class="columns medium-5">
        <p>
            <span class="label"><%= @product.outfit_gender %></span>
            <span class="label"><%= @product.product_type %></span>
            <span class="label"><%= @product.season %></span>
        </p>
        <p class='rating-stars' style="color: gold;">
          <% if @product.rating == 5 %>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          <% elsif @product.rating == 4 %>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          <% elsif @product.rating == 3 %>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          <% elsif @product.rating == 2 %>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          <% elsif @product.rating == 1 %>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          <% elsif @product.rating == 0 %>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          <% end %>
        </p>
        <h2 class="work-feature-block-header">Product Description</h2>
        <p>
          <%= @product.description %>
        </p>
        <h2>Product Details</h2>
                <%# <h6 class="product-color-title">Colors</h6>
                <form class="product-option-selection">
                    <input type="radio" name="radios" value="red" id="radio1" checked>
                    <label for="radio1" class=" dark-hollow expand"><img src="https://placehold.it/30x30" /></label>
                    <input type="radio" name="radios" value="blue" id="radio2">
                    <label for="radio2" class=" dark-hollow expand"><img src="https://placehold.it/30x30" /></label>
                    <input type="radio" name="radios" value="yellow" id="radio3">
                    <label for="radio3" class=" dark-hollow expand"><img src="https://placehold.it/30x30" /></label>
                    <input type="radio" name="radios" value="orange" id="radio4">
                    <label for="radio4" class=" dark-hollow expand"><img src="https://placehold.it/30x30" /></label>
                    <input type="radio" name="radios" value="green" id="radio5">
                    <label for="radio5" class=" dark-hollow expand"><img src="https://placehold.it/30x30" /></label>
                </form> %>
        <ul style="list-style: none;">
            <li>Color: <strong><%= @product.color.titleize  %></strong></li>
            <li>Size: <strong><%= @product.size %></strong></li>
            <li>Recommended Style: <strong><%= @product.preferred_style %></strong>  </li>
        </ul>
        <div class="product-details-add-to-cart">
            <p><span class="in-stock">In Stock</span> <span class="dim-text">(Only 3 left in Stock)</span></p>
            <hr>
            <p class="price">$<%= @product.price %></p>
            <p> <span>Qty:</span> <input class="qty" type="text" value="1"> </p>
            <button class="button expanded"><i class="fas fa-cart-plus"></i> Add to Cart</button>
        </div>
        <p class="shipping">Available for Free Ground Shipping &amp; Return</p>
    </div>

</div>
