<!DOCTYPE html>
<html>
  <head>
    <title>Waistd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>
    <!-- Rails Project-specific -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------->
<!-- => HEADER -->
<!------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------------->

<!-- NOTE: This is the off-canvas menu that appears when you click on the hamburger menu on smaller screens. Everything in the `.off-canvas` div belongs in `src/layouts/default.html`. Copy this section into the `default.html` file and remove it from this file.  -->
<div class="off-canvas ecommerce-header-off-canvas position-left" id="ecommerce-header" data-off-canvas>

    <!-- Close button -->
    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>

    <ul class="vertical menu">
        <li class="main-nav-link"><a href="<%= outfits_path %>">All our outfits</a></li>
        <li class="main-nav-link"><a href="<%= products_path %>">All our products</a></li>
        <li class="main-nav-link"><a href="why.html">Category 3</a></li>
        <li class="main-nav-link"><a href="build.html">Category 4</a></li>
        <li class="main-nav-link"><a href="#">Category 5</a></li>
    </ul>

    <hr>

    <!-- Menu -->
    <ul class="menu vertical">
        <li><a href="#">Help</a></li>
        <li><a href="#">Order Status</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="<%= current_user %>">My Account</a></li>
    </ul>

</div>

<!-- NOTE: This is the header menu that appears at the top of your site. -->
<div class="off-canvas-content" data-off-canvas-content>
    <div class="ecommerce-header-top show-for-large">
        <div class="row align-justify">
            <div class="ecommerce-header-top-message">
                Get W/\ISTD. Get Hired.
            </div>
            <div class="ecommerce-header-top-links">
                <ul>
                  <!-- commented out below until functional -->
                    <!-- <li><a href="#">Help</a></li>
                    <li><a href="#">Order Status</a></li> -->
                    <!-- <li><a href="#"><i class="fas fa-envelope"></i>  Contact</a></li> -->
                    <li>
                        <% if logged_in? %>
                        <a href="<%= user_path(current_user) %>">
                            <i class="fas fa-user"></i>  My Account
                        </a>
                        <% else %>
                        <a href="/login">
                            <i class="fas fa-sign-in-alt"></i>  Login
                        </a>
                        <% end %>
                    </li>
                    <% if logged_in? %>
                    <li>
                        <a rel="nofollow" data-method="delete" href="/logout">
                            <i class="fas fa-sign-out-alt"></i>  Logout
                        </a>
                    </li>
                    <% end %>
                    <li><a href="#" target="_blank"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="ecommerce-header show-for-large">
        <div class="row align-justify align-middle">
            <div class="shrink column">
                <ul class="vertical medium-horizontal menu">
                    <li><a href="/">
                      <!-- <img class="logo" src="../../assets/waistd_logo.png"> -->
                      <%= image_tag("waistd_logo.png", size: "100x100", alt: "logo") %>
                    </a></li>
                    <li class="main-nav-link"><a href="<%= outfits_path %>">All our Outfits</a></li>
                    <li class="main-nav-link"><a href="<%= products_path%>">All our Products</a></li>
                    <li class="main-nav-link"><a href="why.html">Category 3</a></li>
                    <li class="main-nav-link"><a href="build.html">Category 4</a></li>
                    <li class="main-nav-link"><a href="#">Category 5</a></li>
                </ul>
            </div>
            <div class="shrink column">
                <ul class="menu">
                    <%= form_tag(search_path, method: :post) do %>
                        <li>
                        <%= text_field_tag 'query' %>
                        </li>
                        <li>
                        <%= button_tag( :class => "button") do %>
                            <i class="fas fa-search"></i>
                        <% end %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>

    <div class="ecommerce-header-mobile hide-for-large">
        <div class="ecommerce-header-mobile-left">
            <button class="menu-icon" type="button" data-toggle="ecommerce-header"></button>
            <form class="ecommerce-header-search-exandable">
                <input type="search" placeholder="Search">
            </form>
        </div>
        <div class="ecommerce-header-mobile-center">
            <a href="#"><img class="logo" src="https://placehold.it/130x30"></a>
        </div>
        <div class="ecommerce-header-mobile-right">
            <i class="fa fa-shopping-cart"></i>
        </div>
    </div>
</div>

<!-- Body -->
    <%= yield %>


    <!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!-- => FOOTER -->
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<div class="ecommerce-footer">
    <div class="ecommerce-footer-links row">
        <div class="small-12 medium-12 large-6 columns">
            <div class="row ecommerce-footer-links-block">
                <div class="small-4 medium-4 large-4 columns">
                    <h5>Categories</h5>
                    <ul class="menu vertical">
                        <li><a href="#">Category 1</a></li>
                        <li><a href="#">Category 2</a></li>
                        <li><a href="#">Category 3</a></li>
                        <li><a href="#">Category 4</a></li>
                        <li><a href="#">Category 5</a></li>
                    </ul>
                </div>
                <div class="small-4 medium-4 large-4 columns more-categories">
                    <ul class="menu vertical">
                        <li><a href="#">Category 6</a></li>
                        <li><a href="#">Category 7</a></li>
                        <li><a href="#">Category 8</a></li>
                        <li><a href="#">Category 9</a></li>
                        <li><a href="#">Category 10</a></li>
                    </ul>
                </div>
                <div class="small-4 medium-4 large-4 columns">
                    <h5>Help</h5>
                    <ul class="menu vertical">
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">Shipping &amp; Delivery</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="small-12 medium-12 large-6 columns">
            <div class="row">
                <div class="small-4 medium-4 large-4 columns">
                    <h5>My Account</h5>
                    <ul class="menu vertical">
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">My Wishlist</a></li>
                    </ul>
                </div>
                <div class="small-4 medium-4 large-4 columns">
                    <h5>About</h5>
                    <ul class="menu vertical">
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Store Locator</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Career</a></li>
                    </ul>
                </div>
                <div class="small-4 medium-4 large-4 columns">
                    <h5>Social</h5>
                    <ul class="menu vertical">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ecommerce-footer-bottom-bar row">
        <div class="small-12 medium-5 columns">
            <ul class="bottom-links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
        </div>
        <div class="small-12 medium-2 columns ecommerce-footer-logomark">
            <img src="https://placehold.it/50x50" />
        </div>
        <div class="small-12 medium-5 columns">
            <div class="bottom-copyright">
                <span>©2017 Company Name. All rights reserved.</span>
            </div>
        </div>
    </div>
</div>
  </body>
</html>
